@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Quicksand:400,500,700');

:root {
--main-color: #FCE205;
--secondary-color: white;
--main-text-color: white;
--message-color:white;
--secondary-text-color: black;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #3e5869; 
  background-color: #000;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

*:focus {
  outline: none;
}

.nbarformat {
  display: flex;
  color: var(--secondary-color);
  background: var(--main-color);
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0;
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  box-shadow: 10px;
}


.logoformat {
  color: black;
  font-weight: bold;
}

.nbuttonformat {
  background: rgba(0, 0, 0, 0);
  font-weight: bold;
  border: none;
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 26px;
  color: black;
  padding: 0px 14px;
  margin:  0px;
}

.trim {
  padding: 0px;
  margin: 0px;
}

.xbubbledivformat:nth-child(n) {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid #FFD300;
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  margin: 5px 10px 0px 15px;
  color: #FFD300;
  font-weight: bold;
  animation-name: Xfadebox;
  animation-duration: 0.3s;
}

.ububbledivformat:nth-child(n) {
  border: 5px solid #FFD300;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  float: right;
  border-radius: 40px;
  padding: 10px;
  color: #FFD300;
  font-weight: bold;
  margin: 5px 10px 0px calc(100% - 200px);
  animation-name: Ufadebox;
  animation-duration: 0.3s;
}

  @keyframes Ufadebox {
    from {background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0);}
    to {background-color: yellow;}
  }

  @keyframes Xfadebox {
    from {background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0);}
    to {background-color: yellow;}
  }

.iwindowformat {
  margin: 0px 0px 0px 0px;
  padding: 15px 10px 10px 10px;
  height: calc(100% - 150px);
  overflow-y:scroll;
  background-color: #000;
}

.tinput {
  border: solid #FFD300;
  padding: 10px;
  border-radius: 20px;
  margin: 0px 0px 0px 10px;
  width: calc(100% - 50px);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1em;
  overflow: hidden;
  color: #FFD300;
  background-color: #000;
}

.BBubble {
  display: inline-block;
  border-radius: 10px;
  margin: 0px;
}

.BBubblebutton {
  border: 1px solid #FFD300;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #FCE205;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  display: inline;
  margin: 5px;
  animation-name: XXfadebox;
  animation-duration: 2s;

}

  @keyframes XXfadebox {
    from {background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0);}
    to {}
  }

.center {
  text-align: center;
}

.contact {
  display: block;
  font-size: 4em;
  padding: 20px;
  font-weight: bold;
  color: white;
}

.inputformat {
  background-color: #000;
}

.siteref a{
  font-size: 1.8em;
  color: #FFD300;
  font-weight: bold;
  text-decoration: none;
}

.contrastset {
  background-color: black;
  width: 100%;
  height: 100%;
}

.copybar {
  background-color: #FFD300;
  color: black;
  text-align: center;
  font-size: 1em;
  padding: 5px;
  position: fixed;
  bottom: 0px;
  font-family: 'Quicksand', sans-serif;
  display: block;
  margin: 0px;
  font-weight: bold;
  width: 100%;
}

.disableov {
  overflow-y: hidden;
}